.Square{
    width: 250px;
    height: 250px;
    position: absolute;
}

.Red-square {
    @extend .Square;
    background-color: red;
    top: 100px;
    left: 100px; 
}

.Blue-square {
    @extend .Square;
    background-color: blue;
    z-index: 1;
    top: 140px;
    left: 140px; 
     
}

.Yellow-square {
    @extend .Square;
    background-color: yellow;
    z-index: 2;
    top: 180px;
    left: 180px; 
     
}